<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gujavasc.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.gujavasc.sample.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.gujavasc.sample.Parametros"
            android:label="@string/title_activity_slave" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.FrameLayout"
            android:label="@string/title_activity_absolute_layout" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.LinearLayout"
            android:label="@string/title_activity_linear_layout" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.RelativeLayout"
            android:label="@string/title_activity_relative_layout" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.ListView"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.GridVieww"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.WebVieww"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name="org.gujavasc.sample.Conceitos"
            android:label="@string/title_activity_conceitos" >
        </activity>
    </application>

</manifest>
